*{
	margin: 0;
	padding: 0;
}

.fondo-taxi{
	background-image: url(../img/taxi.jpg);
	background-repeat: no-repeat;
	background-size:cover;
	background-position:bottom;

}
.fondo-amarillo{
	background-color: #f7b617;
	color: white;
}
.rayita{
	display: inline-block;
}
.fondo-amarillo2{
	background-color: #f7b617;
	color: white;
	padding: 20px;
}
.borde{
	border: 1px solid white;
	padding: 30px;
}
.foto-celu{
	width: 60%;
	text-align: center;
}
.foto-reloj{
	background-image: url(../img/conduce.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	margin:0;
}
.fondo-negro{
	background: rgba(0, 0, 0, .7); 
	color: white;
	padding: 50px;
}
.btn-amarillo{
	background-color: #f7b617;
	border:none; 
}
.fondo-negro2{
	padding: 30px;
	background-color: #2b2b2b;
}
.caja{
	padding:25px;
	border-bottom: 1px solid white;
}

.b-blanco{
	padding: 20px;
	border-bottom: 1px solid white;
}
.cajita{
	position: bottom;
	padding: 0;
}
.icon-blanco{
	color:white;
	;
}
.ultimo{
	padding-top: 20px;
}